<div id="navigation">
    <div class="profile-picture">
        <img src="~/Content/img/logo.png" class="img-circle m-b" alt="logo">
    </div>

    <ul class="nav metismenu" id="side-menu">
        <li>
            <a href="@Url.Action("Add", "Contact")"> <span class="nav-label">Add Contact</span> </a>
        </li>
    </ul>
</div>